{% extends "layouts/base.html" %}

{% block content %}
	<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
  {{ content | safe }}
	<p>Date posted: {{ date  }}.</p>
	{% if tags %}
    <p class="visually-hidden" id="tags-desc">Tags:</p>
    <ul class="tags-list" aria-describedby="tags-desc">
      {% for tag in tags %}
        <li>
          <a href="/tag/{{ tag | slug }}/">{{ tag | title | replace(' ', '') }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}


{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}
{% if recommendedPosts %}
		<h2>Other posts</h2>
		<ul class="blog">
	  	{% for item in recommendedPosts %}
	    <li>
	    	<a href="{{ item.url }}">{{ item.data.title }}</a>
	    </li>
	    {% endfor %}
	   </ul>
{% endif %}

{% endblock %}
